# Ignore Python cache files
__pycache__/

# Ignore virtual environment directory
dougVenv/

# Ignore backup requirements file
requirements_backup.txt

pages/9_WebCrawling_01.py
pages/9_WebCrawling_02.py
pages/9_temp copy.py