langchain
langchain-core
langchain-community
langchain-experimental
langserve[all]
langchain-cli
langsmith
langchain_openai
openai
streamlit
huggingface_hub
streamlit_option_menu
numexpr
duckduckgo-search
tiktoken
pinecone-client
tavily-python
langchainhub
beautifulsoup4
faiss-cpu